

::selection {
    background-color: #d61b3c;
    color: white;
}

.navbar {
    
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    
    
}

.darshanpng{
        max-height: 80vh;
        overflow: hidden;
        width: 100%;
    }

.part2{
     background-color: #d61b3c;
        padding: 25px 5%;
        position: relative;
        top: -50px;
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 4.7vh;
                
}

  .box{
      border:dotted;
      border-color:red;

  }

